/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Patla width */
  border-radius: 20px !important; /* Round edges */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px !important; /* Round edges */
}

::-webkit-scrollbar-thumb {
  background: rgb(45, 194, 158); /* Main scrollbar color */
  border-radius: 20px !important; /* Round edges */
  transition: background 0.3s ease-in-out !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 194, 158, 0.7); /* Light transparent on hover */
}

/* Firefox */
* {
  padding: 0;
  margin: 0;
  scrollbar-width: thin; /* Patla scrollbar */
  scrollbar-color: rgb(45, 194, 158) #f1f1f1;
}
