.navbar {
  z-index: 1050;
}

/* Reduced gap between nav items */
.navbar-nav .nav-item {
  margin: 0 0.4rem;
}

.nav-link {
  color: #333;
  transition: color 0.3s ease;
  padding: 0.2rem 0.2rem !important;
}

.nav-link.active {
  color: rgb(45, 194, 158) !important;
  font-weight: bold;
}

/* Smooth Dropdown Animation */
.dropdown-menu {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.95) !important;
  min-width: 200px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: block;
  visibility: hidden;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-item {
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn {
  transition: background-color 0.3s ease;
}

/* Login & Free Trial Buttons */
.login-btn {
  background-color: rgb(255, 235, 189) !important;
  border: none;
  color: black;
}

.trial-btn {
  background-color: rgb(224, 248, 222) !important;
  border: none;
  color: black;
}

.login-btn:hover {
  background-color: rgba(255, 235, 189, 0.6) !important;
  color: black !important;
}

.trial-btn:hover {
  background-color: rgba(224, 248, 222, 0.6) !important;
  color: black !important;
}

/* Mobile Menu Styles */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.mobile-menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: white;
  padding: 0px 1rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu.open {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-nav {
  list-style: none;
  padding: 0;
  margin-top: 0.1rem;
}

.mobile-nav-link {
  display: block;
  border: none;
  background: none;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

.mobile-nav-link.active {
  color: rgb(45, 194, 158);
  font-weight: 600;
}

.mobile-dropdown {
  margin: 0.5rem 0;
}

.mobile-submenu {
  padding-left: 0.1rem;
}

.mobile-submenu-link {
  display: block;
  padding: 0.5rem 0;
  color: #666;
  text-decoration: none;
}

@media (min-width: 992px) {
  .mobile-menu-overlay {
    display: none;
  }
}
